<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Info</title>


<style>

#form_1
{
width: 300px;
margin-left: auto;
margin-right: auto;
}

</style>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script>
function isNumberOnly(prix){
	let err = document.getElementById("error_prixHT");
	err.style.visibility = "hidden";

	
	var expReg = /^\d+$/;

	if(prix.value.match(expReg)){
	 return true;
	}
	else{
		err.style.visibility = "visible";
		return false;
	}

}


function isNullOrNegative(champ){
	let err = document.getElementById("error_"+champ.name);
	err.style.visibility = "hidden";

	if(champ.value <= 0 ){
		err.style.visibility = "visible";
		return true;
	}

	return false;
}





function isEmpty(champ){
	let err = document.getElementById("error_"+champ.name);
	err.style.visibility = "hidden";


	if(champ.value.trim().length == 0){
		err.style.visibility = "visible";
		return true;
	}

	return false;
}


function endSupToStart()
{
    var dateAller = document.getElementById("dateAller").value;
    var dateRetour = document.getElementById("dateRetour").value;
	
	let err = document.getElementById("error_dateRetour");
	err.style.visibility = "hidden";

    if( (new Date(dateAller).getTime() < new Date(dateRetour).getTime()))
    {
        // Your code here
		return true;
    }
	
	else{
		err.style.visibility = "visible";
		return false;
	}
	
}


function verify(){
	
	let champs = document.getElementsByClassName('champ_non_vide');
	for(let i = 0; i< champs.length ; i++){
	if(isNullOrNegative(champs[i]) || isEmpty(champs[i])){
		event.preventDefault();
	}
}

	if(!endSupToStart())
	{
		event.preventDefault();
	}

	let prixHT = document.getElementById('prixHT');
	if(!isNumberOnly(prixHT))
	{
		event.preventDefault();
	}



}


document.addEventListener("DOMContentLoaded",function(){

	let champs = document.getElementsByClassName('champ_non_vide');
	for(let i = 0; i< champs.length ; i++){
	champs[i].addEventListener("blur", function(event){isEmpty(event.target)} );
	champs[i].addEventListener("blur", function(event){isNullOrNegative(event.target)} );
	}

	let prixHT = document.getElementById('prixHT');
	prixHT.addEventListener("blur",function(event){isNumberOnly(event.target)} );



	let formulaire = document.getElementById('form_1');
	formulaire.addEventListener("submit", verify);


})



</script>


</head>
<body>
	<div th:object="${destination}"></div>
	
	
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home">Bovoyage  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    
      <li class="nav-item">
        <a class="nav-link" href="/destinationvalid">Destinations <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/index">Se deconnecter </a>
      </li>


    </ul>

  </div>
</nav>
	
	
	<div style="font-size: 1.8em; text-align: center">Informations concernant la destination</div>
	<br>

	<form style="margin-left: 30px" th:action="@{backtodestinations}">
		<button type="submit" class="btn btn-success"> < Retour</button>
	</form>

	
	<table  class="table table-striped" style="width: 50%; margin-left: auto; margin-right: auto; border-radius: 10px; background-color: rgba(200,300,30,0.3)">
     <div>  <tr>
         <td th:text="${destination.region}">Région:</td>
         <td th:text="${destination.description}">Description :</td>
         </tr>
         </div>
    </table>
	
	<br>
	
	
		<div style="font-size: 1.8em; text-align: center">Création d'une date de voyage</div><br>
	
	<form id="form_1" th:action="@{createdatesvoyage}" method="post">
	
			<div class="form-group">
			<label for="dateAller">Date Aller</label><br>
			<input type="date"
			th:value="*{dateAller}" placeholder="Date Aller" title="Date Aller"
			id="dateAller" name="dateAller" class="form-control" required> 
			</div> 
			
			<div class="form-group">
			<label for="dateRetour">Date Retour </label><br>
			<input type="date" th:value="*{dateRetour}"
			placeholder="Date Retour" title="Date Retour" id="dateRetour"
			name="dateRetour" class="form-control" required>
			<span id="error_dateRetour" style="visibility: hidden ; color: red">Veuillez saisir une date Retour supérieure à la date aller</span>
			</div> 
			
			<div class="form-group">
			<label for="prixHT">prixHT</label><br> 
			<input
			type="number" th:value="*{prixHT}" placeholder="Prix Hors taxes"
			title="Prix Hors taxes" id="prixHT" name="prixHT" class="form-control" min="1" required>
			<span id="error_prixHT" style="visibility: hidden ; color: red">Attention votre prix est incorrect !</span>
			</div> 
			
			<div class="form-group">
			<label
			for="nbrePlaces">Nb Places</label><br>
			<input type="number"
			th:value="*{nbrePlaces}" placeholder="nbrePlaces" title="nbrePlaces"
			id="nbrePlaces" name="nbrePlaces"  class="form-control"  min="1" required> 
			<span id="error_nbPlaces" style="visibility: hidden ; color: red">Attention votre nombre de place est incorrect !</span>
			</div>
			
			
			<input hidden=""
			th:value="*{destination.id}" id="idDestination" name="idDestination">
			
			
		<button type="submit" class="btn btn-primary btn-sm">Ajouter dates</button>
	</form>
	
	<br><br>
	
	
	
	<table  class="table table-striped" style="width: 90%; margin-left: auto; margin-right: auto">
		<tr> <td>Départ</td>   <td>Retour</td>   <td>Nbre de places</td>   <td>Prix HT</td>   <td>-</td> <td>-</td> </tr>
		<th:block th:each="datesVoyage : ${datesVoyages}">
			<div>
				<tr>
					<td th:text="${datesVoyage.dateAller}">Départ:</td>
					<td th:text="${datesVoyage.dateRetour}">Retour :</td>
					<td th:text="${datesVoyage.nbrePlaces}">Nb Places:</td>
					<td th:text="${datesVoyage.prixHT}">Prix HT/voyageur :</td>
					<td>
						<form th:action="@{modifierdate}" method="Post">
							<input hidden="" th:value="*{datesVoyage.id}" id="idDate"
								name="idDate">
							<button type="submit" class="btn btn-primary btn-sm" style="background-color: green; border-color: green">Modifier Date</button>
						</form>
					</td>
					<td>
						<form th:action="@{/deletedatevoyage}" method="post">
							<button type="submit" class="btn btn-primary btn-sm" style="background-color: red; border-color: red">Supprimer</button>
							<input hidden="" th:value="*{datesVoyage.id}" id="id" name="id">
							<input hidden="" th:value="*{destination.id}" id="idDestination" name="idDestination">
						</form>
					</td>
				</tr>



			</div>
		</th:block>
	</table>
	<div th:if="${error}">
		<div class="errors">Erreur</div>
	</div>



</body>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</html>