<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Home Page</title>
</head>
<body>
<h1>Bienvenue sur le Back Office de BoVoyages. </h1></br>
<p> Veuillez choisir l'une des options ci-dessous:</p>
<form th:action="@{destinationvalid}" method="post">
<button> Afficher toutes les destinations </button>
</form>
 <form th:action="@{destinationByRegion}" method="post">
<p> <input type="text" th:value="*{region}" id="region" name="region"> <button> Rechercher </button></p>
</form>

</body>
</html>