<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login Page</title>

<style>
#form_1{

width: 300px;
margin-left: auto;
margin-right: auto;


}
</style>



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script>
function isEmpty(champ){
	let err = document.getElementById("error_"+champ.name);
	err.style.visibility = "hidden";


	if(champ.value.trim().length == 0){
		err.style.visibility = "visible";
		return true;
	}

	return false;
}


function verify(){
	
	let champs = document.getElementsByClassName('champ_non_vide');
	for(let i = 0; i< champs.length ; i++){
		if(isEmpty(champs[i]))
		event.preventDefault();
	}
	
}


document.addEventListener("DOMContentLoaded",function(){

	let champs = document.getElementsByClassName('champ_non_vide');
	for(let i = 0; i< champs.length ; i++){
	champs[i].addEventListener("blur", function(event){isEmpty(event.target)} );
	}


	let formulaire = document.getElementById('form_1');
	formulaire.addEventListener("submit", verify)


});
</script>


</head>
<body>



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/index">Bovoyage  <span class="sr-only">(current)</span></a>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
       <!--   <a class="nav-link" href="/signupform1">Créer un contact</a>-->
      </li>

    </ul>

  </div>
</nav>







<form id="form_1" th:action="@{connexion}" method="post">
<H2>Authentification</H2></br></br>
    <label for="username">Login</label><input type="text" th:value="*{username}" id="username" name="username" class="champ_non_vide form-control" placeholder="Identifiants">
    <span id="error_username" style="visibility: hidden; color: red">Veuillez saisir un login</span>
    
    <input th:value="*{password}" id="password" name="password" type="password" class="champ_non_vide form-control" minlength="8" placeholder="Mot de Passe">
    <span id="error_password" style="visibility: hidden; color: red">Veuillez saisir une Mot de passe</span>
    
    <button class="btn btn-primary btn-sm"> Connexion </button>
 </form>   
 <!-- <form th:action="@{signupform}" method="post">
<p><button> Sign-up </button></p>
</form> -->

</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>




</html>